# Dependency directories
node_modules/
**/node_modules/

# Build output
build/
dist/
public/build/
public/dist/

# Runtime logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# PM2
pm2.log
pids/

# dotenv environment files
.env
.env.*.local
.env.local

# System-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.cache/
*.swp

# Coverage reports
coverage/

# TypeScript build info
*.tsbuildinfo

# MongoDB dump / data (if you ever use it)
dump/
data/

# Optional: Ignore uploads folder
uploads/
