html, body, #root {
  height: 100%;
  margin: 0;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-wall {
  width: 240px;           
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  background: #fff;      
  border-right: 1px solid #ececec;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin-left:180px; 
}

.dashboard-topbar {
  flex: 0 0 64px;        
  border-bottom: 1px solid #ececec;
  background: #fff;
}

.dashboard-main-area {
  flex: 1;
  overflow-y: auto;
  background: #f9f9f9;    
}
